.content{
    background-color: #a8d8cc;
    width: 100%;
    height: 616px;
}
.content-div{
    width: 100%;
    height: 450px;
    display: flex;
}
.content-div1{
    border-radius: 10px;
  margin-left: 34%;
  margin-top: 100px;
  background-color: #3b8590;
}
.line{
    width: 300px;
    text-align: center;
}
.input{
    width: 300px;
    border: none;
    outline: none;
    background-color: #3b8590;
    color: white;
    height: 40px;
    font-size: 30px;
}
 ::placeholder{
    color: white;
    font-size: 30px;
}
.submit-btn{
    width: 300px;
    height: 30px;
    background-color: #c64444;
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}